<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <title>My Portfolio</title>
</head>

<body>
  <div class="container">
    <nav>
      <img class="userPic" src="/images/profile.png" alt="Profile Picture">

      <div class="userDetails">
        <h1>Edson</h1>
        <h1>Freire</h1>
        <span>Mobile Developer</span>
      </div>

      <div class="home">
        <ion-icon name="school"></ion-icon>
      </div>

      <div class="projects">
        <ion-icon name="folder"></ion-icon>
      </div>

      <div class="contact">
        <ion-icon name="mail"></ion-icon>
      </div>
    </nav>
  </div>

  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

</body>

</html>